/* Scss Document */


footer {
	text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    clear: both;
    width: auto;
    font-size: 1.4vmin;
    margin-bottom: 0.5%;
    padding-top: 2%;
	height: 15.7%;
    background-color: #271C2A;
    margin-top: 1%;
    color: #DCD4D4;
	
	.footerdiv {
		height:130px;
	    width: 10.4%;
	    float: left;
	    margin-right: 5%;
	    padding: 10px;
	
	}

	.footerdiv1 {
		height:100px;
	    width: 20.4%;
	    float: left;
	    margin-right: 4%;
	    padding: 10px;
	    margin-left: 30%;
	
		
		
		ul {
		list-style: none;
		}
		
		li { 
		display: inline;
	    padding-right: 2%;
		
		}
	
	}
	
	#copyright { 
		width: 26%;
        margin-bottom: 1%;
        margin-left: 36.4%;
	}

	
	

}

